<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>20 cities</title>
    
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>


</head>
<body>
<div class="container">
    <div class="row">
        <h1 class='text-primary text-left'><strong> Most populated city of USE. </strong></h1>
        <ol>
        {% for city in cities %} 
            <div class="col-lg-12"><li class="text-success">{{ city.city }} from {{ city.state }}, locatied at {{ city.loc }} has <span class="population">{{ city.population }}</span> population</li></div>
        {% endfor %}
        </ol>
    </div> 
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

<script>
//Width and height
            var w = 800;
            var h = 300;
            var barPadding = 1;

            var data = [];
            var populations = document.getElementsByClassName("population");

            for (var i = 0; i < populations.length; i++) {
                data.push(+$(populations[i]).html());
            };
            
            //Create SVG element
            var svg = d3.select("body")
                        .append("svg")
                        .attr("width", w)
                        .attr("height", h);

            svg.selectAll("rect")
               .data(data)
               .enter()
               .append("rect")
               .attr("x", function(d, i) {
                    return i * (w / data.length);
               })
               .attr("y", function(d) {
                    return h - (d * 0.002);
               })
               .attr("width", w / data.length - barPadding)
               .attr("height", function(d) {
                    return d * 0.002;
               })
               .attr("fill", "orange");

            svg.selectAll("text")
               .data(data)
               .enter()
               .append("text")
               .text(function(d) {
                    return d;
               })
               .attr("text-anchor", "middle")
               .attr("x", function(d, i) {
                    return i * (w / data.length) + (w / data.length - barPadding) / 2;
               })
               .attr("y", function(d) {
                    return h - (d * 0.002) + 14;
               })
               .attr("font-family", "sans-serif")
               .attr("font-size", "10px")
               .attr("fill", "black");



</script>
</body>
</html>